In [65]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from datetime import datetime

# Import the file 
Disney_df = pd.read_csv(r"C:\Users\akibo\Desktop\Columbia Bootcamp\Disney-Stock-Data\Resources\DisneyHistoricalStockPriceData.csv")

Robinhood_df = pd.read_csv(r"C:\Users\akibo\Desktop\Columbia Bootcamp\Disney-Stock-Data\Resources\Disney Robinhood Data.csv")

Robinhood_df['Time'] = Robinhood_df['timestamp'].str.split(pat=" ",n=2,expand=False)

Robinhood_df

            timestamp  users_holding               Time
0       5/2/2018 4:56          59936   [5/2/2018, 4:56]
1       5/2/2018 6:41          59936   [5/2/2018, 6:41]
2       5/3/2018 0:38          59950   [5/3/2018, 0:38]
3       5/3/2018 6:36          59950   [5/3/2018, 6:36]
4       5/3/2018 6:51          59950   [5/3/2018, 6:51]
...               ...            ...                ...
14910  2/17/2020 4:50         218542  [2/17/2020, 4:50]
14911  2/17/2020 5:50         218542  [2/17/2020, 5:50]
14912  2/17/2020 6:50         218542  [2/17/2020, 6:50]
14913  2/17/2020 7:50         218542  [2/17/2020, 7:50]
14914  2/17/2020 8:50         218542  [2/17/2020, 8:50]

[14915 rows x 3 columns]

In [36]:
# CLEANING THE DISNEY STOCK DATA
# Pass in a list to name the header
Disney_df.columns = ["date","open","high","low","close","volume"]

# Delete the previous row by deleting rows with the word "open"
Disney_cleaned = Disney_df[df["open"] != "Open"]

# Pulling just the dates along with the close 
Disney_cleaned_ = Disney_cleaned[["date","close"]]

Disney_cleaned

            date    open    high     low   close    volume
1      6/18/2020  116.88  118.53  115.93  118.37   9562491
2      6/17/2020  118.64  119.23  117.14  117.65   8921557
3      6/16/2020  121.24   121.5  116.05  118.44  12951190
4      6/15/2020  112.08  118.12  111.71  117.08  14156378
5      6/12/2020  115.17     117  112.89  115.49  18361940
...          ...     ...     ...     ...     ...       ...
12529   6/7/1972    1.69    1.69    1.69    1.69         0
12530   6/6/1972    1.68    1.68    1.68    1.68         0
12531   6/5/1972    1.68    1.68    1.68    1.68         0
12532   6/2/1972    1.68    1.68    1.68    1.68         0
12533   6/1/1972    1.68    1.68    1.68    1.68         0

[12533 rows x 6 columns]

In [47]:
# Import a column that shows the change between the open and close price for the day

# Pass in the columns to be subtracted as integers with pandas
Disney_cleaned["Change"] = pd.to_numeric(Disney_cleaned["open"]) - pd.to_numeric(Disney_cleaned["close"])
Disney_cleaned

            date    open    high     low   close    volume  Change
1      6/18/2020  116.88  118.53  115.93  118.37   9562491   -1.49
2      6/17/2020  118.64  119.23  117.14  117.65   8921557    0.99
3      6/16/2020  121.24   121.5  116.05  118.44  12951190    2.80
4      6/15/2020  112.08  118.12  111.71  117.08  14156378   -5.00
5      6/12/2020  115.17     117  112.89  115.49  18361940   -0.32
...          ...     ...     ...     ...     ...       ...     ...
12529   6/7/1972    1.69    1.69    1.69    1.69         0    0.00
12530   6/6/1972    1.68    1.68    1.68    1.68         0    0.00
12531   6/5/1972    1.68    1.68    1.68    1.68         0    0.00
12532   6/2/1972    1.68    1.68    1.68    1.68         0    0.00
12533   6/1/1972    1.68    1.68    1.68    1.68         0    0.00

[12533 rows x 7 columns]

KeyError: 'date'